$cwd-container-fluid-max-width: 1280px;

// @todo use css variables instead of scss variables
:root {
  --color-primary: #2d668e;
  --color-accent: #b31b1b;
  --color-on-primary: #fff;
  --color-border: #e0e0e0;
  --color-warning: #F8981D;
  --color-on-warning: #222222;
}

$grid-gutter-width: 30px;
$screen-xs-min: 480px;
$screen-ks-min: 624px;
$screen-sm-min: 768px;
$screen-mobile-min: 868px;
$screen-md-min: 992px;
$screen-ml-min: 1080px;
$screen-lg-min: 1200px;
$screen-xl-min: 1480px;
